body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;

}
h2{
    font-size: 40px;
}
p{
    text-align: justify;
    padding-right: 10px;
    margin-right: 10px;
}
.orange_highlight{
color: orange;
}
.halfwidth{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.halfwidth img{
    width: 100%;
}
.top_banar{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 550px;
}
.link_button{
  padding: 10px 20px;
  background-image: linear-gradient(45deg,lightsalmon, tomato) ;  
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: 700;
 }
 .dream_area{
     background-image: url("image/dream-bg.png");
     background-repeat: no-repeat;
     background-position: right;
 }
.single_experience{
    box-shadow: 10px 10px 40px gray;
    height: 50%;
    border-radius: 5px;
    background-color: white;
}
.experience_area{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
}
#full_stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg,lightsalmon,tomato) ;
    border-image-slice: 1;
}
#baby_dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}
